* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

.header {
  height: 100px;
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100%;
  padding: 0 30px;
}

.header .header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0 30px;
  height: 100%;  
}

.logo {
  display: flex;
  align-items: center;
  font-size: 50px;
}

.logo:hover {
  text-decoration: none;
}

.logo span{
	color: #e92047;
  text-transform: uppercase;
  font-weight: bolder;
}

.nav-container > .nav-list {
  display: flex;
  margin-top: 10px;
}

.nav-container > .nav-list .nav-item {
  flex: 1;
  text-align: center;
  margin: 0 15px;
  display: flex;
}

.nav-container > .nav-list .nav-item a i {
  font-size: 30px;
  color: white;
  margin-top: 4px;
  cursor: pointer;
}

.modal-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-info .modal {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.modal-info .modal button {
  border: 0;
  background-color: transparent;
  height: 48px;
  cursor: pointer;
}

.modal-info .modal button:not(:last-child) {
  border-bottom: 1px solid #dbdbdb;
}

@media screen and (max-width: 935px) {
  .header {
    height: 80px;
  }

  .header .header_container {
    width: 100%;   
    padding: 0; 
  }
  header .header_container .logo span {    
    font-size:xx-large;
    font-weight: bolder;
  }

  .nav-container > .nav-list .nav-item {  
    margin: 0 7px;    
  }

  .nav-container > .nav-list .nav-item a i {
    font-size: large;
    font-weight: bolder;
  }
}