body {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 200px;
}

.main_container {
  background-color: #212529;
  width: 100%;
  min-height: 100%;
  padding-top: 10px;
}

.user_information {
  background-color: rgb(47, 47, 56);  
  width: auto;
  margin: 0 30px;  
  margin-top: 30px;
  display: flex;
  justify-content: left;
  padding: 50px 40px;
  color: white;
  border-radius: 20px;
}

.user_information img {
  width: 230px;
  margin-right: 20px;
  border-radius: 20px;
}

.first_text input {
  margin-bottom: 10px;
  width: 200px;
}

.first_text p {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: white;
}

.first_text p:hover {
  color: antiquewhite;
}

.first_text a:hover {
  text-decoration: none;
}

.second_text {
  margin-top: 20px;
  text-align: center;
}

.second_text div {
  margin: 0;
}

/* middle */

.category-area {
  background-color: #212529;
}

.category_list {  
  display: flex;
  justify-content: left;
}

.category_list div{
  cursor: pointer;
}

.category_list div h2{
  color: white;
  margin: 35px;
}

@media screen and (max-width: 935px) {
  body {
    padding-top: 80px;
  }
    
  .user_information {   
    justify-content: center;
    flex-wrap: wrap;      
    padding-bottom: 30px;
  } 
  .user_information img {
    margin-bottom: 10px;
    width: 160px;
  }
  .first_text input {    
    width: 150px;
    position: relative;
    left: 15px;
    margin-bottom: 0px;
  }
  .category_list {  
    display: flex;
    justify-content: center;
  }
  .category_list div h2{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin: 15px 25px;
  }
}