body {
  margin: 0;
  background-color: #060d17;
  font-family: "Noto Sans KR", sans-serif;
}

.container {
  color: white;

  overflow: hidden;
}

.top-menu {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.top-menu-right {
  display: flex;
}
.top-menu-right div {
  margin-right: 3px;
}

.top-menu-left {
  display: flex;
}

.popular-movie-view {
  display: flex;
  justify-content: space-between;

  height: 270px;
}

.popular-movie-view div {
  /* background-color: #d9d9d9; */
  border-radius: 10px;
  height: 100%;
  width: 24.5%;
}

.bbb {
  filter: blur();
  transition: filter 0.5s ease;
}
.bbb:hover {
  filter: blur(5px);
}

.text-overlay-title {
  position: absolute;
}

.text-overlay-rate {
  position: absolute;
}

.category-movie {
  display: flex;
  justify-content: space-between;

  height: 150px;
}

.category-movie div {
  /* background-color: #d9d9d9; */

  height: 100%;
  width: 15.5%;
}

.bbb {
  display: flex;

  height: 100%;
  width: 100%;
}

.today-movie {
  margin-top: 2%;
  margin-bottom: 2%;
}

.category-title {
  margin-top: 6%;
  margin-bottom: 2%;
}

.today-top-10-movie {
  display: flex;
  justify-content: center;
  height: 170px;
}

.today-top-10-movie div {
  /* background-color: #d9d9d9; */

  height: 100%;
  width: 23%;
  margin-right: 5px;
}
